<% layout("/layouts/boilerplate") %>

    <div id="filterCarousel" class="carousel slide filters" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <div class="d-flex justify-content-center gap-4">
                    <div class="text-center filter">
                        <i class="fa-solid fa-fire fa-2x"></i>
                        <p>Trending</p>
                    </div>
                    <div class="text-center filter">
                        <i class="fa-solid fa-bed fa-2x"></i>
                        <p>Rooms</p>
                    </div>
                    <div class="text-center filter">
                        <i class="fa-solid fa-mountain-city fa-2x"></i>
                        <p>Iconic Cities</p>
                    </div>
                    <div class="text-center filter">
                        <i class="fa-solid fa-mountain-sun fa-2x"></i>
                        <p>Mountains</p>
                    </div>
                    <div class="text-center filter">
                        <i class="fa-solid fa-snowflake fa-2x"></i>
                        <p>Arctic</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="d-flex justify-content-center gap-4">
                    <div class="text-center filter">
                        <i class="fa-brands fa-fort-awesome fa-2x"></i>
                        <p>Castles</p>
                    </div>
                    <div class="text-center filter">
                        <i class="fa-solid fa-person-swimming fa-2x"></i>
                        <p>Amazing Pools</p>
                    </div>
                    <div class="text-center filter">
                        <i class="fa-solid fa-campground fa-2x"></i>
                        <p>Camping</p>
                    </div>
                    <div class="text-center filter">
                        <i class="fa-solid fa-tractor fa-2x"></i>
                        <p>Farms</p>
                    </div>
                    <div class="text-center filter">
                        <i class="fa-solid fa-ship fa-2x"></i>
                        <p>Boats</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <button class="carousel-control-prev mb-3" type="button" data-bs-target="#filterCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next mb-3" type="button" data-bs-target="#filterCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark rounded-circle p-2" aria-hidden="true"></span>
        </button>

    </div>


    <div class="tax-btn">
        <div class="tax-toggle ms-auto mt-3">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>

    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mt-3">
        <% for (let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link res-div">
                <div class="card col listing-card">
                    <img src="<%= listing.image.url%>" class="card-img-top" alt="listings-image" style="height: 17rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= listing.title%>
                            </b> <br>
                            <span class="before-taxes">&#8377;<%= listing.price.toLocaleString("en-IN") %> /
                                    Night</span>
                            <% if (listing.priceWithTax) { %>
                                <span class="after-taxes tax-info">
                                    &#8377;<%= listing.priceWithTax.toLocaleString("en-IN") %> / Night (incl. GST)
                                </span>
                            <% } %>
                        </p>
                    </div>
                </div>
            </a>
            <%} %>
    </div>